@model MyBlog.Models.Post

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Post</h2>
            <hr />
            <div asp-validation-summary="All"></div>
            
            @*<div>
                @Html.RenderPartialAsync("_ChooseCategory")
            </div>*@
            <div class="mb-3">
                <label asp-for="PostCategory"></label>
                <input asp-for="PostCategory" class="form-control" />
                <span asp-validation-for="PostCategory" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br /> <br />
            <div class="mb-3">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br /> <br />
            <div class="mb-3">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" rows="30" cols="160" id="Text"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="post" asp-action="index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
}
}