@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-area="" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
}
@if (Model != null)
{
    @foreach (var obj in Model)
    {
        <div>
            <div>
                <h2 class="header"> @obj.Title </h2>
            </div>
            <div>
                @obj.Description
            </div>
            <div>
                @obj.Text
            </div>
        </div>
    }
}
